<a href="https://colab.research.google.com/github/Antoney20/Data-analysis/blob/main/Datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

s = pd.Series(['a', 3, np.nan, 1, np.nan])

print(s.notnull().sum())

3

Data Cleaning with DataFrames

In [2]:
s = pd.Series([np.nan, 1, 2, np.nan, 3])
s = s.fillna(method='ffill')

print(s)

0    NaN
1    1.0
2    2.0
3    2.0
4    3.0
dtype: float64

The Python method .duplicated() returns a boolean Series for your DataFrame. True is the return value for rows that: contain a duplicate, where the value for the row is at least the second occurrence of that value.

plt.subplot(1, 2, 1) . Means My figure will have one row, two columns, and I am going to start drawing in the first (left) plot.

 **Reading data from relational databases**



1.   we import the database ie import sqlite3


> The Cursor instance has an .execute() method which receives SQL parameters to run against the database.

1.   connnect = sqlite3.connect("path")
2.   df= pd.read_sql("select * from students")